# JTL Cloud Configuration
#
# App Authentication:
# You get the Client ID and Client Secret when you register your app in the JTL Partner Portal (https://partner.dev.jtl-cloud.com)
JTL_AUTH_CLIENT_ID=YOUR-CLIENT-ID
JTL_AUTH_CLIENT_SECRET=YOUR-CLIENT-SECRET
JTL_AUTH_BASE_URL=https://auth.dev.jtl-cloud.com
JTL_API_BASE_URL=https://api.dev.jtl-cloud.com

# Tunnel Configuration
#
# For dev purposes, you can expose the app to the internet by using ngrok (https://ngrok.com).
# To do so, create a (free) account with ngrok and create a domain in the ngrok backend.
# Put the domain and your auth token here. If configured, the app will be automatically tunneled
# with ngrok when the dev server starts.
#
# Note: It is **not** required to have the ngrok client installed on your machine.
NGROK_DOMAIN=YOUR-NGROK-DOMAIN
NGROK_AUTH_TOKEN=YOUR-NGROK-AUTH-TOKEN

# AI Translations
# 
# Our translations are performed by OpenAI. If no API key is provided, we will fallback to a
# translation that simply reverses the text that should be translated.
OPENAI_API_KEY=YOUR-OPENAI-API-KEY

# Authentication
#
# Our service itself implements a very basic JWT auth mechanism.
# The user has to provide an email address during the login.
# Any address will do, no signup or password is required.
# The JWT secret can be any string and is used to sign and verify your tokens.
JWT_SECRET=YOUR-JWT-SECRET
